.center{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

body{
    background-color: #C7E123;
}

a{
    font-family: sans;
    color: 7c6b6b;
}

p, td, h1, input{
    font-family: sans;
}

input{
    background-color: #b7ce20;
    border: 0;
}

table{
    border-collapse: collapse;
}

table, td, th{
    border: 1px solid black;
}
